mixin articlesCard(data_att, title, subtitle, path, href)
  .articles__card(data-cat=data_att)
    .articles__card-title= title
    .articles__card-subtitle= subtitle
    picture.articles__card-img
      img(src=path alt="иконка")
    a(href=href).articles__card-link Узнать подробнее >

section.articles
  .articles__wrap.container
    h2.articles__title Профильные статьи и видео
    .articles__buttons
      button(data-cat="all_directions").articles__button Все направления
      button(data-cat="labour_protection").articles__button Охрана труда
      button(data-cat="education").articles__button Образование
      button(data-cat="all").articles__button Смотреть все
        span.articles__button-counter 13

  #articles-slider.articles-slider.container
    .articles__slide
      +articlesCard('all', 'Новые сроки хранения документов по охране труда в 2020 году', 'Мы предлагаем не только профессиональное обучение, но и бессрочный доступ ко всем материалам в нашей базе', './assets/images/squared-clock.png', '#')
      +articlesCard('all', 'Новые сроки хранения документов по охране труда в 2020 году', 'Мы предлагаем не только профессиональное обучение, но и бессрочный доступ ко всем материалам в нашей базе', './assets/images/squared-clock.png', '#')
      +articlesCard('all', 'Новые сроки хранения документов по охране труда в 2020 году', 'Мы предлагаем не только профессиональное обучение, но и бессрочный доступ ко всем материалам в нашей базе', './assets/images/squared-clock.png', '#')
    .articles__slide
      +articlesCard('labour protection', 'Новые сроки хранения документов по охране труда в 2020 году', 'Мы предлагаем не только профессиональное обучение, но и бессрочный доступ ко всем материалам в нашей базе', './assets/images/squared-clock.png', '#')
      +articlesCard('education', 'Новые сроки хранения документов по охране труда в 2020 году', 'Мы предлагаем не только профессиональное обучение, но и бессрочный доступ ко всем материалам в нашей базе', './assets/images/squared-clock.png', '#')
      +articlesCard('all_directions', 'Новые сроки хранения документов по охране труда в 2020 году', 'Мы предлагаем не только профессиональное обучение, но и бессрочный доступ ко всем материалам в нашей базе', './assets/images/squared-clock.png', '#')